<tr class="rc-row">
  <td class="rc-row__cell">{{ retiro().nombre }}</td>
  <td class="rc-row__cell rc-row__cell--ciudad">{{ retiro().ciudadOrigen }}</td>
  <td class="rc-row__cell rc-row__cell--ops">{{ retiro().totalRetirosFueraCiudad }}</td>
  <td class="rc-row__cell rc-row__cell--total">{{ retiro().valorTotalRetiros | currencyColombian }}</td>
  <td class="rc-row__cell">
    @if (retiro().ultimoRetiro) {
      {{ retiro().ultimoRetiro | fechaRelativa }}
    } @else {
      —
    }
  </td>
</tr>
